# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
# *.a
*.lib

# Executables
*.exe
*.out
*.app

# Common Code::Blocks files
*.depend
*.layout

# This CB Project folders
/src/.objs28/
/downloads/
/patches/
/src/build28/
/src/lib/
/src/lib28/
